#header{
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
    font-family: 'Indie Flower', cursive;
    color: black;
}
.navbar-brand{
    font-size: 3rem;
}
.navbar-nav{
    font-family: 'Caveat', cursive;
    font-size: 1.01rem;
}
.nav-item{
    padding: 0 5px 0 5px;
}

.navbar-toggler:hover{
    border: 1px solid #8E9775;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}


/* sideBar */
#sidebar{
  position: fixed;
  right: 0;
}
.sidenav {
    height: 100%;
    width: 140px;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0px;
    background-color: #0A1931;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #FFC947;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav .closebtn {
    color: #CF0000;
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 500px) {
    .sidenav {
      padding-top: 15px; 
      width: 110px;}
    .sidenav a {font-size: 18px;}
  }