*{
    box-sizing: border-box;
}
.form-note form{
    position: relative;
    float: right;
     width: 430px;
     height: 400px;
     z-index: -1;
     margin: 19px 20px 20px auto;
     background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
     padding: 15px;
     border-radius: 20px;
     box-shadow: 0 1px 5px rgb(138 137 137);
 }
 .form-note form input, .form-note form textarea{
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
    width: 96%;
     border: none;
     padding: 4px;
     outline: none;
     font-size: 1.2em;
     font-family: inherit;
     resize: none;
 }
 .form-note button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #f5ba13;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
    outline: none;
    animation-name: addButton;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
.note{
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}
.note h3, .note p{
    white-space: pre-wrap;
    word-wrap: break-word;
}
.note p{
    margin: 0px;
}
.note button{
 position: relative;
 float: right;
 width: 36px;
 height: 36px;
 border: none;
 outline: none;
}
@media only screen and (max-width: 500px) {
    .form-note form{
        width: 80%;
        height: 220px;
        float: left;
        margin: 10px auto 10px 16px;
    }
    .note{
        width: 90%;
    }
  }
  @media only screen and (max-width: 650px) {
    .form-note form{
        width: 90%;
        height: 220px;
        float: left;
        margin: 10px auto 10px 16px;
    }
    .note{
        width: 90%;
    }
  }
  @keyframes addButton {
    0%   {background-color:#81B214; right: 18px; bottom: -18px;}
    25%  {background-color:#FF8882; right: 17px; bottom: -18px;}
    50%  {background-color:#72147E; right: 17px; bottom: -17px;}
    75%  {background-color:#FEA82F; right: 18px; bottom: -17px;}
    100% {background-color:#8AB6D6 ; right: 18px; bottom: -18px;}
  }